form {
    width: 90%;
    max-width: 420px;
    margin: 20vh auto 0 auto;

    ion-row {
        margin-top: 2rem;
    }
}

ion-button {
    width: 80%;
    max-width: 360px;
    margin: 0.5rem auto;
    display: block;
}