#container {
  padding-top: 2rem;
  text-align: center;

  ion-avatar {
    height: 5rem;
    width: 5rem;
    margin: 1rem auto;
    display: block;
  }
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

ion-button {
  width: 80%;
  margin: 4rem auto 0 auto;
}